:root {
  --main-accent-clr: #4a4e74;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 30% 70%;
}

.add-new-note {
  background-color: var(--main-accent-clr);
  color: white;
  padding: 0.75rem 1rem;
  border: none;
  height: max-content;
  cursor: pointer;
  border-radius: 05px;
}
.app-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}
.App > section {
  border-right: 1px solid var(--main-accent-clr);
  min-height: 100vh;
}
.note {
  background-color: var(--main-accent-clr);
  padding: 0.75rem 1rem;
  color: white;
  margin-bottom: 0.25rem;
  cursor: pointer;
}
