:root {
  --main-accent-clr: #4a4e74;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 30% 70%;
}

.add-new-note {
  background-color: var(--main-accent-clr);
  color: white;
  padding: 0.75rem 1rem;
  border: none;
  height: max-content;
  cursor: pointer;
  border-radius: 05px;
}
.app-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}
.App > section {
  border-right: 1px solid var(--main-accent-clr);
  min-height: 100vh;
}
.note {
  background-color: var(--main-accent-clr);
  padding: 0.75rem 1rem;
  color: white;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.style-tab {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 5px;
  grid-template-rows: auto auto;
}
.mode {
  display: flex;
}
.style-tab button {
  padding: 0.5rem;
  border: 1px solid var(--main-accent-clr);
  border-radius: 5px;
  margin-right: 3px;
  background-color: transparent;
}
textarea {
  border: 3px solid var(--main-accent-clr);
  margin: 10px;
  width: calc(100% - 20px);
  height: 80vh;
  text-indent: 5px;
  padding: 1rem;
  font-size: 1.5rem;
}
